*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.header {
  font-family: motiva-sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161a20;
  overflow: hidden;
  height: 7rem;
  color: #c4c2c1;
}
.navbar_logo {
  all: unset;
  flex-basis: 10%;
  height: 3rem;
  padding: 1em;
  display: flex;
  align-content: center;
}

.navbar_logo:hover {
  cursor: pointer;
}
.navbar_dropdown {
  height: 100%;
  background-color: transparent;
  margin: 0em 0.5em 0em 0.5em;
  opacity: 0.8;
  color: #c4c2c1;
}

.navbar_dropbtn {
  font-family: motiva-sans, sans-serif;
  display: inline-block;
  position: relative;
  background-color: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  color: #c4c2c1;
}

.navbar_dropbtn:hover {
  cursor: pointer;
  color: #fff;
  opacity: 1;
}

.menu {
  --menu-display: inline-flex;
  --menu-a-display: inherit;
  --menu-margin-top: 15px;
  --search-bar-padding-left: 109px;
}
.card-price {
  --price-tag-font-size: 12px;
  --price-font-size: 14px;
}
@media (max-width: 960px) {
  .menu {
    --menu-display: block;
    --menu-a-display: block;
    --menu-margin-top: 0;
    --search-bar-padding-left: 4px;
  }
}
@media (max-width: 320px) {
  .card-price {
    --price-tag-font-size: 9px;
    --price-font-size: 12px;
  }
}
.dropdowns {
  align-items: center;
  text-align: center;
}

body {
  background-color: #232b40;
  margin: 0;
  align-items: center;
  text-align: center;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
#games-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3rem;
}
.games {
  display: flex;
}

.left {
  width: 30rem;
  display: flex;
  flex-direction: column;
  color: #c4c2c1;
  font-family: motiva-sans, sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.left:hover {
  cursor: pointer;
  color: #fff;
}
.genres-option {
  font-family: motiva-sans, sans-serif;
  text-align: left;
  text-transform: uppercase;
  color: #c4c2c1;
  font-size: 15px;
  margin: 5px;
  margin-left: 1rem;
}
.browse {
  margin: 5px;
  margin-left: 1rem;
  text-align: justify;
  display: flex;
  font-size: 18px;
  font-weight: normal;
}
.error-message {
  color: red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: medium;
}
.card-img {
  position: relative;
  width: 20rem;
  height: 8rem;
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
  flex-basis: 0 0 25%;
}
.card-img:hover {
  border: 2px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-color: #2f5d75;
}
a:hover {
  border-color: #2f5d75;
}
.card-price {
  font-family: sans-serif;
  font-size: var(--price-tag-font-size);
  text-align: right;
  line-height: 23px;
  margin-top: -1.5px;
  color: #fefeff;
  background-color: #1f688c;
  display: inline-block;
  padding: 0 8px;
}
.detail-price {
  font-family: sans-serif;
  font-size: var(--price-tag-font-size);
  line-height: 23px;
  margin-top: -1.5px;
  color: #fefeff;
  background-color: #1f688c;
  display: inline-block;
  padding: 0 8px;
}
.card-body {
  background-color: #1f688c;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px;
}
.card-title {
  text-align: center;
  font-family: motiva-sans, sans-serif;
  font-weight: normal;
  align-items: center;
  color: #fefeff;
  margin-top: 0.5rem;
}
.card-title:hover {
  color: #fff;
  cursor: pointer;
}
.detail-title {
  text-align: center;
  text-transform: uppercase;
  font-family: motiva-sans, sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  align-items: center;
  color: #fefeff;
  margin-top: 0.5rem;
}
.detail-title:hover {
  color: #fff;
  cursor: pointer;
}

.menu {
  font-family: sans-serif;
  font-size: 13px;
  text-align: center;
  line-height: 34px;
  color: #c6d4df;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
  display: var(--menu-display);
  flex-wrap: nowrap;
  margin-top: var(--menu-margin-top);
  margin-bottom: 30px;
}

.detail-img {
  position: relative;
  width: 60rem;
  height: 20rem;
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
  flex-basis: 0 0 25%;
}
.card-detail {
  width: 60rem;
  height: 10rem;
  background-color: #1f688c;
  border: 2px solid transparent;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}
.description {
  text-transform: uppercase;
  font-style: italic;
  font-weight: normal;
  font-family: motiva-sans, sans-serif;
  margin: 0.5rem;
  color: #c4c2c1;
}
.detail-genres {
  text-transform: uppercase;
  font-weight: normal;
  font-family: motiva-sans, sans-serif;
}
.menu * {
  background-color: #757a8299;
  padding-top: 1px;
}
.menu *:not(:last-child) {
  border-right: 1px solid rgba(16, 21, 25, 0.3);
}
.menu a {
  color: #c6d4df;
  display: var(--menu-a-display);
}
.menu a:hover {
  background-color: #e3eaef;
  color: black;
  text-shadow: none;
}
.dropdowns {
  padding-left: 30px;
  padding-right: 36px;
}
.static {
  padding-left: 18px;
  padding-right: 18px;
}
.search-bar {
  padding-left: var(--search-bar-padding-left);
}
.search-bar input[type="text"] {
  color: #0e1c25;
  background-color: #757a82cc;
  font-size: 14px;
  font-style: italic;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
  width: 216px;
  height: 25px;
  padding-left: 14px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin-top: 2px;
  margin-right: 4px;
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
}
.search-bar input[type="text"]:hover {
  border-color: #66c0f4;
  box-shadow: none;
}
.search-bar input[type="text"]:focus::placeholder {
  color: transparent;
  text-shadow: none;
}
.search-bar input[type="submit"] {
  display: none;
}
footer {
  font-family: Arial, sans-serif;
  color: #8f98a0;
  font-size: 12px;
  line-height: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px auto;
}
footer .insert-margin {
  height: 30px;
}
footer .insert-border {
  max-width: 940px;
  margin: 0 auto;
  border-top: 1px solid #29363d;
}
footer .disclaimer {
  text-align: left;
  max-width: 870px;
  margin: 8px auto;
}
footer a {
  color: white;
  text-decoration: underline;
}
